<!--Modal de DaisyUI Modificada a nuestras necesidades-->
<button class="btn text-white bg-black " onclick="my_modal_3.showModal()">Revisar Gastos</button>
<dialog id="my_modal_3" class="modal max-h-screen">
  <div class="modal-box bg-black">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-white">✕</button>
    </form>
    <h3 class="text-lg font-bold text-white flex justify-center items-center text-center">Bienvenido Jefe</h3>
    <h3 class="text-lg font-bold text-white flex justify-center items-center text-center">Las estadísticas de este mes son las siguientes:</h3>
    <div class="flex flex-col items-center justify-center space-y-4 p-4">
    <div class="stats shadow">
        <div class="stat bg-white flex justify-center items-center flex-col">
          <div class="stat-title text-black font-mono font-bold">Rendiciones Aprobadas</div>
          <div class="stat-value  text-black font-mono font-bold ">20</div>
          <div class="stat-desc  text-black font-mono font-bold">21% más que el mes pasado</div>
        </div>
      </div>
      <div class="stats shadow ">
        <div class="stat  bg-white flex justify-center items-center flex-col">
          <div class="stat-title  text-black font-mono font-bold">Rendiciones Rechazadas</div>
          <div class="stat-value text-black font-mono font-bold ">12</div>
          <div class="stat-desc text-black font-mono font-bold">38% menos que el mes pasado</div>
        </div>
      </div>
      <div class="stats shadow ">
        <div class="stat  bg-white flex justify-center items-center flex-col">
          <div class="stat-title text-black font-mono font-bold">Total Pagado</div>
          <div class="stat-value text-black font-mono font-bold">$1.120.897</div>
          <div class="stat-desc text-black font-mono font-bold">78% menos que el mes pasado</div>
        </div>
      </div>
    </div>
  </div>
</dialog>