<div class="flex flex-col min-h-screen overflow-hidden bg-white">
    <!-- Header -->
    <header class="fixed top-0 left-0 w-full bg-white z-10 h-20">
        <nav class="flex flex-col sm:flex-row items-center text-green-600 px-4 w-full h-16 border-b">
            <button onclick="location.href='http://localhost:80/'" class="rounded-md bg-green-500 text-white py-2 px-4 hover:bg-green-600 transition-colors duration-200 text-sm">
                Inicio
            </button>
        </nav>
    </header>

    <!-- Body -->
    <div class="flex items-start pt-24 px-28 mx-6 bg-white">
        <div class="flex-grow">
            <p class="text-xl text-black font-bold">Listado de Rendiciones</p>
            <p class="text-sm text-gray-500 font-sans font-normal"># ID / Monto / Tipo de Gasto / Nombre Trabajador / Estado</p>
        </div>
        <div>
            <label for="estado" class="block text-sm font-medium text-black">Filtrar por estado:</label>
            <select id="estado" class="border border-gray-400 w-52 px-2 rounded bg-white text-black" (change)="CambiarEstado($event)">
                <option value="">Todos</option>
                <option value="Aceptada">Aceptada</option>
                <option value="Rechazada">Rechazada</option>
                <option value="Pendiente">Pendiente</option>
            </select>
        </div>
    </div>

    <div class="pt-4 px-28 mx-6 bg-white"> <!-- Alineación con el título y el filtro -->
        <div *ngFor="let rendicion of filtradas" class="rendicion-item border p-4 rounded-lg shadow-md transition-shadow hover:shadow-xl w-full flex items-center justify-between mb-4 h-28 border-gray-400">
            <p class="pt-1 font-normal text-left w-10">#{{rendicion.id}}</p>
            <div class="flex mx-16 text-justify w-full">
                <div class="flex flex-col text-left">
                    <p class="monto text-sm font-normal">Monto: ${{rendicion.monto}}.</p>
                    <p class="tipo_gasto text-sm font-normal">Tipo de Gasto: {{rendicion.tipo_gasto}}.</p>
                    <p class="nombre text-sm font-normal">Nombre: {{rendicion.nombre_trabajador}}.</p>
                </div>
            </div>
            <!-- Contenedor para el estado y el botón "Revisar" -->
            <div class="flex flex-col items-end bg-white">
                <div class="flex justify-center items-center rounded-md w-[120px] h-[30px] text-sm text-white" [ngClass]="{
                    'bg-boton-home text-slate-50 ': rendicion.estado === 'Aceptada',
                    'bg-borrar text-gray-50  ': rendicion.estado === 'Rechazada',
                    'bg-pendiente text-slate-100': rendicion.estado === 'Pendiente',
                }">
                    <img *ngIf="rendicion.estado === 'Aceptada'" src="assets/Check circle.png" alt="Aceptada" class="w-auto h-4 mr-1">
                    <img *ngIf="rendicion.estado === 'Rechazada'" src="assets/X circle.png" alt="Rechazada" class="w-auto h-4 mr-1">
                    <img *ngIf="rendicion.estado === 'Pendiente'" src="assets/Clock.png" alt="Pendiente" class="w-auto h-4 mr-1">
                    <div class="status-button inline-block px-2 py-1 rounded-md">
                        {{ rendicion.estado | titlecase }}
                    </div>
                </div>
                <!-- Botón "Revisar" Si esta pendiente  -->
                <div *ngIf="rendicion.estado === 'Pendiente'" class="mt-2">
                    <button (click)="openRendicion(rendicion)" class="bg-black text-white py-1 px-3 rounded border border-black text-sm">Revisar</button>
                </div>                  
            </div>
        </div>
        <app-rendicion #rendicionComponent [rendicion]="rendicionSeleccionada" (cerrar)="closeRendicion()"></app-rendicion>
    </div>
</div>
