<!-- Pantalla Completa -->
<div class="flex flex-col min-h-screen overflow-hidden">
  <!-- Header -->
  <header class="fixed top-0 left-0 w-full bg-white z-10 h-20 border border-gray-300">
    <nav class="flex items-center justify-between py-6 px-4 w-full h-full">
      <img src="assets/Codesandbox.png" alt="Logo" class="h-full w-auto" />
      <app-modal-login></app-modal-login>
    </nav>
  </header>

  <!-- Centro -->
  <main class="flex-grow relative flex flex-col justify-center items-center bg-center overflow-hidden pt-20">
    <img src="assets/8460-contadores.jpg" alt="Background" class="absolute inset-0 w-full h-full object-cover opacity-50" />

    <div class="relative z-auto text-center px-4">
      <h1 class="text-5xl font-bold text-shadow">Bienvenid&commat; a ProExpenses</h1>
      <p class="font-semibold text-xl py-3">Software que optimiza y simplifica tu trazabilidad.</p>
    </div>
  </main>

  <!-- Footer -->
  <footer class="sticky bottom-0 h-20 bg-white border border-gray-300"></footer>
</div>
